.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
  /* The slider itself */
.slider {
/*Trak*/
-webkit-appearance: none;  /* Override default CSS styles */
appearance: none;
width: 25%; /* Full-width */
height: 12px; /* Specified height */
background: #e9e9e9; /* Grey background */
outline: none; /* Remove outline */
opacity: 1; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
border: 1px solid #c5c5c5;
opacity: 0.7;
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: #4CAF50; /* Green background ?*/
cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
border: 1px solid #c4c4c4;
width: 20px; /* Set a specific slider handle width */
height: 20px; /* Slider handle height */
background: #f9f9f9; /* Green background */
opacity: 0.9;
cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb:active{
  background: #007fff;
  border: 1px solid #003eff;
}

.inputParam{
  width: 100px;
}

.inputParametersTable{
  text-align: center;
  margin-left: 20px;
  width: 700px;
}

.polParamSlider{
  margin-left: 5px;
  margin-right: 7px;
  width: 100px;
}

.ParamSlider{
  /*Should be same as polParamSlider*/
  margin-left: 7px;
  margin-right: 7px;
  width: 100px;
}

div[name="ParamSlider"]{
  margin-left: 5px;
  margin-right: 7px;
  width: 100px;
}

.functionSelect{
  padding-top: 10px;
}

.FitPanel{
  padding-top: 10px;
}

.rangeSettings{
  padding-top: 10px;
}